<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BuyWhatUAlwaysWanted</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">

    <link href="/css/bootstrappage.css" rel="stylesheet" />

    <!-- global styles -->
    <link href="/css/flexslider.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />

    <!-- scripts -->
    <script src="/js/jquery-1.7.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/superfish.js"></script>
    <script src="/js/jquery.scrolltotop.js"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="top-bar" class="container">
        <div class="row">
            <div class="span4">
                <a href="@Url.Action("Index", "Home")" class="logo pull-left"><img src="~/images/logo.png" class="site_logo" alt=""></a>
                <form method="POST" class="search_form">
                    <input type="text" class="input-block-level search-query" Placeholder="Serach here">
                </form>
            </div>
            <div class="span8">
                <div class="account pull-right">
                    <ul class="user-menu">
                    @if (User.Identity.IsAuthenticated)
                    {
                        
                        <li><a href="cart.html">Your Cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="#"><span class="tagline">@User.Identity.Name</span></a></li>
                        <li><form id="logout" action="@Url.Action("Logout", "Account")" method="POST">
                            <a href="javascript: $('#logout').submit()" class="last">
                                Logout
                                
                            </a>
                        </form>
                        </li>

                    }
                    else
                    {
                        
                        <li><a href="cart.html">Your Cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="@Url.Action("Register", "Account")" title="Register" class="last">Register</a></li>
                        <li><a href="@Url.Action("Login", "Account")" title="log in" class="last">Login</a></li>
                    }
             
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()
</body>

</html>
